.nav{height:64px}
.nav p{text-align:center;line-height:64px;font-size:25px;font-weight:600;color:#0e90d2}
.clear::after{width:100%;clear:both;display:table;content:" "}
.container{margin:0 auto}
.cnt-t span{color:#FE8B1F;display:block;text-align:center;font-size:16px}
.cnt-t2 iframe{background:#66ceff;height:520px;width:100%;margin:0 auto}
.form-control{display:block;height:34px;font-size:16px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;position:relative;z-index:2;width:100%;margin:0 auto;margin-bottom:0}
.input-lg{height:42px;line-height:1.3333333;border-color:#0e90d2;-webkit-appearance:none}
select{cursor:default;-webkit-appearance:menulist}
select.input-lg{text-align:left;text-align-last:left;text-indent:.5em;height:42px;outline-style:none;-webkit-appearance:none;border-color:#0e90d2;border-radius:0;font-size:16px}
select.input-lg:hover{background:#e6e6e6}
.cnt-3-1,.cnt-3-2,.cnt-3-3{border-color:#66ceff;padding-bottom:5px}
.cnt-3-1 select,.cnt-3-2 input,.cnt-3-3 button{border-radius:5px}
.cnt-3-2 input{text-indent:.5em}
.cnt-3-2{height:64px}
.btn{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;color:#FFF;background:#0e90d2;outline-style:none;display:#000;height:42px;font-size:18px;line-height:1.3333333;width:100%}
.cnt-3{margin-bottom:15px}
@media screen and (min-device-width:1000px){
.cnt-3-1,.cnt-3-2,.cnt-3-3{border-color:#66ceff;float:left}
.cnt-3-2 input{text-indent:.5em}
.cnt-3-1{width:17%}
.cnt-3-2{width:70%;padding-left:3%;padding-right:3%}
.cnt-3-3{width:13%}
select.input-lg{text-align:center;text-align-last:center}}
@media screen and (max-device-width:760px){.cnt-t2 iframe{height:260px}}
